# Advanced Numbers

#### hexadecimal numbers

In [1]:
hex(12)

'0xc'

In [2]:
hex(512)

'0x200'

#### binary

In [3]:
bin(128)

'0b10000000'

In [4]:
bin(512)

'0b1000000000'

In [5]:
2**4

16

In [6]:
# this will race x the power of y

pow(2,4)

16

In [7]:
# with three arguments z will be treated as mod
# (x**y)%z

pow(2,4,3)

1

In [8]:
# absolute value function 
abs(-10)

10

In [11]:
# rould function 

round (3.9)

4

In [12]:
round (3.4)

3

In [13]:
# always returns a floating point number
round (3)

3

In [15]:
# may specify how many points you need to see

round (3.141592,2)

3.14

# Advanced Strings

In [49]:
s = "hello world"

In [55]:
# capitalize the first word in a string

s.capitalize()

'Hello world'

In [57]:
# upper every letter

s.upper()

'HELLO WORLD'

In [58]:
# to lower everything

s.lower()

'hello world'

In [59]:
# count how many object in the string

s.count ("o")

2

In [60]:
# find the first occurance

s.find ("o")

4

In [61]:
s

'hello world'

In [62]:
# you want to place your string in a code middle
# with Zs around it
# total lenth - 20

s.center(20,"z")

'zzzzhello worldzzzzz'

In [ ]:
# the escape caracter wont work 

"hello\thi"

In [64]:
# may print it to work

print("hello\thi")

hello	hi

In [65]:
# executes the escape caracters

"hello\thi".expandtabs()

'hello   hi'

In [66]:
s = "hello"

In [67]:
# checks if alpha numeric

s.isalnum()

True

In [68]:
# is alpabetic

s.isalpha()

True

In [69]:
# will return true is all characters are lower case

s.islower()

True

In [72]:
# will return if all carachters is whitespace

s.isspace()

False

In [74]:
s.lower()

'hello'

In [75]:
# returns a title each string 

"hello hello".title()

'Hello Hello'

In [76]:
# tells if the first word is title 

s.istitle()

False

In [77]:
# rerutns if all words are uper case

s.isupper()

False

In [78]:
# varify if it ends with "o"

s.endswith("o")

# same as
# s[-1] == "o"

True

#### Build in methods with strings

In [79]:
s

'hello'

In [83]:
# split command splits the obejct by another object


s.split("e")

['h', 'llo']

In [84]:
h = "h-h-h-h-h-h-h-h"

h.split("-")
# will seperate by "-"

['h', 'h', 'h', 'h', 'h', 'h', 'h', 'h']

In [86]:
h.partition("-") 

# will give the first part 
# the seperator
# end part after seperator

('h', '-', 'h-h-h-h-h-h-h')

# Advanced Sets

In [87]:
s = set()

In [88]:
# to add thigs to the set

s.add(1)

In [89]:
s.add(2)

In [90]:
s

{1, 2}

In [91]:
# may clear everything in a set

s.clear()

In [92]:
s

set()

In [93]:
s = {1,2,3}

In [95]:
### Copy a set 
# changes to the copy wont effect the original set

sc = s.copy()

In [96]:
s.add(4)

In [97]:
s

{1, 2, 3, 4}

In [98]:
sc

{1, 2, 3}

In [100]:
### Difference 
# method returns a difference of two or more sets
# returns the element that are difference

s.difference (sc)

{4}

In [101]:
#### difference update

s1 = {1,2,3}
s2 = {1,4,5}

In [102]:
s1.difference_update(s2)

In [103]:
# the matching element between two sets was 1
# what the function did was return s1 after removing 
# all the matching elemts of s2 set

s1

{2, 3}

In [104]:
s

{1, 2, 3, 4}

In [105]:
### Remove elements 
# if the element is in the set 
# will remove it
# if not - nothing happens


s.discard (2)

In [106]:
s

{1, 3, 4}

In [107]:
s.discard(12)

In [108]:
s

{1, 3, 4}

In [109]:
### Intresection
# returns the intercestion of both sets as a new set

s1 = {1,2,3}
s2 = {1,2,4}

In [110]:
s1.intersection(s2)

{1, 2}

In [111]:
# this method will update set s1
# to be equal to the intersection of s1 and s2

s1.intersection_update(s2)

In [112]:
s1

{1, 2}

In [113]:
### .isdisjoint
# will return boolean for nole intersection 

s1 = {1,2}
s2 = {1,2,4}
s3 = {5}

In [114]:
s1.isdisjoint(s2)

# has an intersection

False

In [115]:
s1.isdisjoint(s3)

# no inersection

True

In [116]:
### .issubset
# returns if s1 is a sub set of s2

s1

{1, 2}

In [117]:
s2

{1, 2, 4}

In [118]:
s1.issubset(s2)

True

In [119]:
### .issuperset()
# wheather a set contains another set 
# reverce of the above

s2.issuperset(s2)

True

In [120]:
### Symmetric difference
# oposite of the intersection 
# returns unique elemets of each set

s1

{1, 2}

In [121]:
s2

{1, 2, 4}

In [122]:
s1.symmetric_difference(s2)

{4}

In [123]:
#symmetric_difference_update changes the set to the difference set

In [124]:
### Union
# returns a union of both sets 
# all the elemets 

s1.union(s2)

{1, 2, 4}

In [127]:
# update 
# returns a union in s1 set with s2 set

s1.update(s2)

In [128]:
s1

{1, 2, 4}

# Advanced Dictionaries

In [129]:
d = {"k1":1, "k2":2}

In [132]:
#dictionray comprehention

# define a key and a value
# key = x
# value = x**2

{x:x**2 for x in range(10)}
# the dictionary will contain 
# keys and values as numbers

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81}

In [135]:
# assign keys not based on values

# zip is eteration of tuples
# use tuple unpaking
{x:y**2 for x,y in zip(["a","b"], range(2))}

{'a': 0, 'b': 1}

In [137]:
# iterable items

for k in d.items():
    print (k)

('k1', 1)
('k2', 2)

In [138]:
for k in d.values():
    print (k)

1
2

In [139]:
for k in d.keys():
    print (k)

k1
k2

In [141]:
d.items()

dict_items([('k1', 1), ('k2', 2)])

In [143]:
d.keys()

dict_keys(['k1', 'k2'])

In [144]:
d.values()

dict_values([1, 2])

# Advanced Lists

In [145]:
l = [1,2,3]

In [146]:
l.append(4)

In [147]:
l

[1, 2, 3, 4]

In [148]:
# count how many times the object occures

l.count (4)

1

In [149]:
l.count (10)

0

In [153]:
# extend 

x = [1,2,3]
x.append([4,5])
print (x)

[1, 2, 3, [4, 5]]

In [155]:
x = [1,2,3]
x.extend([3,5])
print (x)

[1, 2, 3, 3, 5]

In [164]:
l = [1,2,3,4]
l

[1, 2, 3, 4]

In [156]:
# returns the postion of the object

l.index(2)

1

In [157]:
l.index(4)

3

In [165]:
# insert 
# takes the obejct and insert it into the index
# x - index, y - number

l.insert(2,6)

In [166]:
l

[1, 2, 6, 3, 4]

In [167]:
l.insert(2,"loh")

In [168]:
l

[1, 2, 'loh', 6, 3, 4]

In [169]:
l.pop()

4

In [170]:
l

[1, 2, 'loh', 6, 3]

In [171]:
l.pop(0) # pop at the index

1

In [172]:
l

[2, 'loh', 6, 3]

In [173]:
# removes the first occurance of the value

l.remove("loh")

In [174]:
l

[2, 6, 3]

In [175]:
l = [1,2,3,1,1]

In [176]:
l.remove(1)

In [177]:
l

[2, 3, 1, 1]

In [182]:
l.reverse()

# reverces the objects and indexes for them

In [183]:
l

[1, 1, 3, 2]

In [184]:
l.sort()

# will sort a list

In [185]:
l

[1, 1, 2, 3]