# Datetime module

Allow you to create object that have information about time, date, time-zone, operations between date-time objects

In [1]:
import datetime

## Time

In [2]:
# works on a 24 hours clock (hours, min, sec...sht+tab)

mytime = datetime.time(2,20)

In [3]:
mytime.minute

20

In [4]:
mytime.hour

2

In [5]:
# will fill in the remaning automaticly

print (mytime)

02:20:00

In [6]:
mytime.microsecond

0

In [7]:
mytime = datetime.time(2,20,1,20)

In [8]:
print (mytime)

02:20:01.000020

In [9]:
# as you can see only holds time information

type(mytime)

datetime.time

## Date

In [11]:
# this function may take in arguments as (yyyy,mm,dd)
# also may use today date by .today()

today = datetime.date.today()

In [12]:
print (today)

2022-09-13

In [13]:
today.year

2022

In [14]:
today.month

9

In [15]:
today.day

13

In [17]:
today.ctime()

'Tue Sep 13 00:00:00 2022'

## Date-Time

In [18]:
from datetime import datetime

In [20]:
my_date_time = datetime(2021,10,3,14,30,15)

In [21]:
print (my_date_time)

2021-10-03 14:30:15

### to replace the information .replace()

In [34]:
my_date_time.replace(year = 2022)

datetime.datetime(2022, 10, 3, 14, 30, 15)

In [35]:
print (my_date_time)

# to store the changes you have to create a variable for it
# it is not happening in place

2021-10-03 14:30:15

In [36]:
my_date_time = my_date_time.replace(year = 2022)

In [38]:
print (my_date_time)

# now we have a placeholder for that variable
# and we store data in it

2022-10-03 14:30:15

## Arithmetics

In [39]:
# DATE information

In [40]:
from datetime import date

In [57]:
date1 = date(2022,9,15)

In [58]:
date2 = date(2021,9,15)

In [59]:
date1 - date2

# returns a difference in a number of days

datetime.timedelta(days=365)

In [60]:
result = date1 - date2

In [61]:
print (result)

365 days, 0:00:00

In [62]:
type(result)

datetime.timedelta

In [64]:
result.days

# don't forget leap years

365

In [65]:
datetime1 = datetime(2022,9,15,22,15,4)

In [68]:
datetime2 = datetime(2021,9,15,12,15,4)

In [69]:
datetime1 - datetime2

# returns a difference in days and seconds

datetime.timedelta(days=365, seconds=36000)

In [70]:
result = datetime1 - datetime2

In [72]:
type(result)

# same type

datetime.timedelta

In [73]:
result.days

365

In [74]:
result.seconds

36000

In [75]:
result.total_seconds()

# this will not only include the seconds part 
# will take into account the days part
# converted to seconds

31572000.0