## For LOOPS

In [4]:
my_iterable = [1, 2, 3]
for item_name in my_iterable:
#item_name is a placeholder for your iterable objects
    print (item_name)

1
2
3

In [5]:
#defined variable
my_list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [6]:
#for loop
#iter_num is a variable name you choose for placeholder
for iter_num in my_list:
    print (iter_num)

1
2
3
4
5
6
7
8
9
10

In [8]:
#hello would be placed in every cell of a list and printed
for iter_num in my_list:
    print ("Hello")

Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello

### Loops and control flow

In [9]:
#print out only the even numbers in the list
for num in my_list:
    #Check for even
    if num % 2 == 0:
        print (num)

2
4
6
8
10

In [10]:
#print out only the odd numbers in the list


for num in my_list:
    if num % 2 != 0:
        print (num)

1
3
5
7
9

In [17]:
for num in my_list:
    if num % 2 == 0:
        print ("even number: {}".format(num))
    elif num == 7:
        print (f"lucky number ejje{num}")
    else:
        print (f"odd number: {num}")

odd number: 1
even number: 2
odd number: 3
even number: 4
odd number: 5
even number: 6
lucky number ejje7
even number: 8
odd number: 9
even number: 10

In [19]:
list_sum = 0

for num in my_list:
    list_sum = list_sum + num
    
print (list_sum)

1
3
6
10
15
21
28
36
45
55
55

In [20]:
list_sum = 0

for num in my_list:
    list_sum = list_sum + num
    print (list_sum)

1
3
6
10
15
21
28
36
45
55

In [21]:
mystring = "Hello World"

for letter in mystring:
    print (letter)

H
e
l
l
o

W
o
r
l
d

In [23]:
#may miss the variable name 
#if you dont intend to use it 
""""for example you want to iterate 'hello'
by the number of letters in 'hello world' or 11 characters """

for _ in "hello world":
    print ("hello")

hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello

In [25]:
tup = (1, 2, 3, 4)

for ite in tup:
    multby2 = ite*2 
    print (multby2)

2
4
6
8

In [26]:
for item in tup:
    print (item)

1
2
3
4

### Tuple unpacking

In [27]:
#the list of paired tuples
mylist = [(1,2), (3,4), (5,6), (7,8)]

In [29]:
#4 pairs of tuples
len (mylist)

4

In [32]:
#to print out the items itself
for item in mylist:
    print (item)

(1, 2)
(3, 4)
(5, 6)
(7, 8)

In [31]:
#to print out the items itself
for item in mylist:
    for tuu in item:
        print (tuu)

1
2
3
4
5
6
7
8

In [33]:
#or you may duplicate the structure of the tuple and use it

for (a,b) in mylist:
    print (a)
    print (b)

1
2
3
4
5
6
7
8

In [34]:
for (a,b) in mylist:
    print (a)

1
3
5
7

In [35]:
for (a,b) in mylist:
    print (b)

2
4
6
8

In [36]:
anotherlist = [(1,2,3), (4,5,6), (7,8,9)]

In [37]:
for (a,b,c) in anotherlist:
    print (c)

3
6
9

In [38]:
for item in anotherlist:
    print (item)

(1, 2, 3)
(4, 5, 6)
(7, 8, 9)

### dictionary iteration

In [42]:
#by defalt you will iterate through the keys

d = {"k1":1, "k2":2, "k3":3}

for item in d:
    print (item)

k1
k2
k3

In [49]:
#if you need to get values 

for item in d.values():
    print (item)

1
2
3

In [44]:
#if you need to iterate through items 

for item in d.items():
    print (item)

('k1', 1)
('k2', 2)
('k3', 3)

In [45]:
#as you see above we get tooples and may use toople  unpack method

for key, item in d.items():
    print (item)

1
2
3

In [46]:
for a,b in d.items():
    print (b)

1
2
3

In [47]:
for (keys, items) in d.items():
    print (keys)

k1
k2
k3

In [ ]:
#keep in maind that dictionaris are unordered