## Methods that we have covered

In [1]:
mylist = [1,2,3]

In [3]:
mylist.append(4)
mylist

[1, 2, 3, 4, 4]

In [4]:
mylist.pop()

4

In [5]:
mylist

[1, 2, 3, 4]

In [6]:
#to learn more abount variaty of methods use . + tab command

In [7]:
#use halp command

In [10]:
help(mylist.insert) #(+shift + tab)
#try shift +tab after the method to see the result or use help command

Help on built-in function insert:

insert(index, object, /) method of builtins.list instance
    Insert object before index.

In [11]:
#https://docs.python.org/3/library/index.html visit for explanation

# Functions

## def Keyword

how to structure a functions

In [12]:
def name_of_function():
    '''' 
    the function returns "Hello"
    '''
    print("Hello")

In [13]:
#to call a function
name_of_function()

Hello

In [32]:
#may include varibales 
def name_of_function(name):
    '''' 
    the function returns "Hello" + name
    '''
    print(f"Hello {name}") #or print("hello "+name)

In [31]:
name_of_function("Vazgen")

Hello Vazgen

In [27]:
#other example 
def add_function(num1, num2):
    return num1+num2

In [29]:
result = add_function(1,2)
print (result)

3

## Basic functions

In [34]:
def say_my_name():
    print ("Haisemberg")

In [35]:
say_my_name()

Haisemberg

### input arguments

In [38]:
def name(name):
    """"
    the function that returns name with input parameter "name"
    """
    print(f"hello {name}")

In [39]:
name("Vazgen")

hello Vazgen

if you wont insert a parameter "name" above 
a function will return a mistake

to awoid id you defalt values

In [42]:
def name(name="say your name"): #place a defalt value in the parameter brakets using =
    """"
    the function that returns name with input parameter "name"
    and defalt value in case you wont type in name
    """
    print(f"hello! {name}")

In [43]:
name()
#you wont get a mistake but insted a function will work 
#with a predefined paramenters

hello! say your name

### return keyword

return allows you to save results as a variable 
unlike print what only prints it

(take a look at the result of the commad, it will show out[x])

In [44]:
def add_num(n1, n2):
    return n1+n2

In [47]:
result = add_num(10,20)
result

30

## Logic with Functions

In [66]:
def even_check(num):
    """
    This function checks weather the number you inserted in even
    by giving true or false as result
    """
    return num%2 == 0

In [58]:
even_check(4)

True

In [59]:
even_check(5)

False

return true if any number is even inside the list

In [79]:
def check_list_even(num_list):
    """"
    checks wheather there are any even numbers in a list"""

    for num in num_list:
        if num%2==0:
            return True
        else:
            pass #a placeholder in case you run into false in a loop
    return False

In [82]:
check_list_even([1,2,5])

True

In [81]:
check_list_even([2,4,6])

True

In [83]:
check_list_even([1,3,5])

False

In [104]:
def check_list_even(num_list):
    """"
    checks wheather there are any even numbers in a list and returns it"""
    
    #placeholder variable 
    even_num = []
    
    for num in num_list:
        if num%2==0:
            even_num.append(num)
        else:
            pass 
    return even_num

In [105]:
check_list_even([1,2,5,6,8])

[2, 6, 8]

In [107]:
check_list_even([1,7,5,9,11])

[]

### Tuple Unpacking

In [116]:
#below is a remaider
stock_price = [("appl", 200), ("goog", 400), ("msft", 100) ]

In [109]:
for item in stock_price:
    print (item)

('appl', 200)
('goog', 400)
('msft', 100)

In [115]:
for key, value in stock_price:
    print (value)
    print (key)

200
appl
400
goog
100
msft

In [120]:
#may also operate as follows
for key, value in stock_price:
    print (value + (0.1*value))

220.0
440.0
110.0

In [130]:
#example of a toople unpacking function

work_hours_wk = [("vazgen", 20), ("vartan", 150), ("lera", 17), ("kosta", 35)]

In [131]:
def best_work(work_hours_wk):
    """
    defines the best employee by looking at work hours
    """
    #placeholder variable
    current_max = 0
    employee_of_max = ""
    
    for emp,wh in work_hours_wk:
        if wh > current_max:
            current_max=wh
            employee_of_max = emp
        else:
            pass
    return (current_max, employee_of_max)

In [133]:
result = best_work(work_hours_wk)
result

(150, 'vartan')

In [134]:
#may also perform a tuple unpancking with the faunction 
hours, name = best_work(work_hours_wk)

In [135]:
hours
#will return the best employee working hours

150

In [137]:
name
#will return the best employee name

'vartan'

### Interaction between functions

result of one function is an input in the another