In [1]:
mystring = "hello"

In [3]:
mylist = []

for letter in mystring:
    mylist.append(letter)
print (mylist)

['h', 'e', 'l', 'l', 'o']

In [4]:
#to do the same use list comprehensions

In [7]:
mylist = [letter for letter in mystring]
mylist

['h', 'e', 'l', 'l', 'o']

In [10]:
list_a = [z for z in "word"]
list_a

['w', 'o', 'r', 'd']

In [17]:
my_list = [x**2 for x in range(0,11)]

In [18]:
my_list

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [20]:
#without list comprehensions a lot longer
my2 = []

for x in range (0,11):
    my2.append(x**2)
my2

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

## using if statments

In [22]:
#only even numbers
myl = [x for x in range (0,11) if x%2 == 0]
myl

[0, 2, 4, 6, 8, 10]

In [24]:
celcius = [0, 10, 20, 34.5]

farenheit = [((9/5)*temp + 32) for temp in celcius]
farenheit

[32.0, 50.0, 68.0, 94.1]

In [32]:
far_con = []

for x in celcius:
    far_con.append(x*(9/5)+32)
far_con

[32.0, 50.0, 68.0, 94.1]

### other example

In [33]:
#list comprehension

celsius = [0, 15, 34, 50]

In [36]:
fareng = [((9/5)*x+32) for x in celsius]
fareng

[32.0, 59.0, 93.2, 122.0]

In [38]:
#for loop
fareng = []

for x in celsius:
    fareng.append((9/5)*x+32)
fareng

[32.0, 59.0, 93.2, 122.0]

## if elif statments

In [ ]:
#remember to make the code redable 
#dont do if unreadable

In [43]:
results = [x if x%2 == 0 else "ODD" for x in range (0,11)]
results

[0, 'ODD', 2, 'ODD', 4, 'ODD', 6, 'ODD', 8, 'ODD', 10]

## Nested loops

In [48]:
mlist = []

for x in [2, 4, 6]:
         for y in [1, 10, 100]:
            mlist.append(x*y)
print (mlist)

[2, 20, 200, 4, 40, 400, 6, 60, 600]

In [47]:
#list comprehension example

mylist = [x*y for x in [2,4,6] for y in [1,10,100]]
mylist

[2, 20, 200, 4, 40, 400, 6, 60, 600]