### range function

In [1]:
#range function generates information insted of saving it

mylist = [1,2,3,4]

In [4]:
#use shift + tab
for num in range(10, 20, 2):
    print(num)

10
12
14
16
18

In [5]:
for num in range(3,10):
    print(num)

3
4
5
6
7
8
9

In [6]:
for num in range(10):
    print(num)

0
1
2
3
4
5
6
7
8
9

In [7]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

### enumerate() function

In [14]:
#the enumerate function replecates the result of the
#below equasion 

index_count = 0

for letter in "abcde":
    print (f"at index {index_count} the letter is {letter}")
    index_count += 1

at index 0 the letter is a
at index 1 the letter is b
at index 2 the letter is c
at index 3 the letter is d
at index 4 the letter is e

In [18]:
#other type of operation

index_count = 0
word = "abcde"

for letter in word:
    print(word[index_count])
    index_count += 1

a
b
c
d
e

In [19]:
# the way it sould be done 

word = "abcde"

for item in enumerate(word):
    print (item)

(0, 'a')
(1, 'b')
(2, 'c')
(3, 'd')
(4, 'e')

In [24]:
#since it is a tuple may specify the extraction

word = "abcde"

for key, value in enumerate(word):
    print (key)
    print (value)
    print ("\n") #escate siquence creating a new line

0
a


1
b


2
c


3
d


4
e

## zip function

In [25]:
mylist1 = [1,2,3,4,5]
mylist2 = ["a", "b", "c", "d", "e"]

In [26]:
zip (mylist1, mylist2)

In [27]:
for item in zip (mylist1, mylist2):
    print (item)

(1, 'a')
(2, 'b')
(3, 'c')
(4, 'd')
(5, 'e')

In [28]:
for x,y in zip (mylist1, mylist2):
    print (x)
    print (y)
    print ("\n")

1
a


2
b


3
c


4
d


5
e

In [29]:
list(zip(mylist1, mylist2))

[(1, 'a'), (2, 'b'), (3, 'c'), (4, 'd'), (5, 'e')]

In [31]:
#zip will join together all the lists by the shortest of them

mylist3 = [11, 21, 31, 41, 51, 61, 71, 81]
for x in zip(mylist3,mylist1,mylist2):
    print (x)

(11, 1, 'a')
(21, 2, 'b')
(31, 3, 'c')
(41, 4, 'd')
(51, 5, 'e')

In [35]:
for a,b,c in zip(mylist3,mylist1,mylist2):
    print (a,b,c)

11 1 a
21 2 b
31 3 c
41 4 d
51 5 e

### IN operator

In [36]:
#is used to check wheather the object is in the list

In [37]:
"x" in [1,2,3]

False

In [38]:
"x" in ["x", "y", "z"]

True

In [39]:
2 in [1,2,3]

True

In [42]:
#may also use to check if the obejst is in a string 
"a" in "a world"

True

In [43]:
#use to check if the obejst is in a dict
"mykey" in {"mykey":345}

True

In [49]:
d = {"mykey":345}

345 in d.values()

True

In [50]:
345 in d.keys()

False

### MIN / MAX

In [51]:
listos = [10, 20, 30, 40, 50, 60]

In [52]:
min (listos)

10

In [53]:
max (listos)

60

## Ramdom library

In [54]:
from random import shuffle
#shufle function
#randomly shafles a list

In [55]:
mylis = [1,2,3,4,5,6,7,8,9,10]

In [56]:
shuffle (mylis)

In [57]:
mylis

[1, 3, 5, 7, 2, 6, 10, 8, 4, 9]

In [58]:
#in place function
shuffle (mylis)

In [59]:
mylis

[2, 3, 9, 1, 8, 5, 4, 7, 6, 10]

### Random int

In [60]:
#grab a random integer

In [61]:
from random import randint

In [65]:
#returns a random integer from 0 to 100

randint(0,100)

10

In [64]:
randint (0, 10000)

3116

In [66]:
myrand = randint (0, 500)

In [67]:
myrand

385

## Input function

In [14]:
#remember alvaws input information as a strings 
result =  input("enter a number here: ")

enter a number here: 20

In [2]:
result2 = input("reenter a number: ")

reenter a number: 15

In [5]:
name = input ("what is your name? ")

what is your name? Vazgen

In [6]:
name

'Vazgen'

In [8]:
#be aware of str and integer results 
type(result2)

str

In [11]:
int2 = int(result2)

In [12]:
type(int2)

int

In [15]:
#you may do like below to input a integer automatically

int_input = int (input("guess a number: "))

guess a number: 25

In [16]:
type(int_input)

int